<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />  <!-- 부팅 이벤트 -->
    <uses-permission android:name="android.permission.REBOOT" />  <!-- 부팅 이벤트 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />  <!-- 재생 중 화면 잠금 방지 -->
    <uses-permission android:name="android.permission.INTERNET" /><!-- 네트워크 사용 -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.INSTALL_PACKAGES"
        android:protectionLevel="signature"
        tools:ignore="ProtectedPermissions" />
    <permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"
        android:protectionLevel="signature"
        tools:ignore="ReservedSystemPermission" />

    <application
        android:name=".common.MyApplication"
        android:requestLegacyExternalStorage="true"
        android:largeHeap="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IQSDisplayerKotlin"
        tools:targetApi="31">

        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTop"
            android:exported="true"
            android:screenOrientation="landscape"
            android:configChanges="orientation"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receiver.BootReceiver"
            android:enabled="true"
            android:exported="false"
            android:label="Receiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.REBOOT"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.PackageEventReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="Receiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED"/>
                <data android:scheme="package" android:path="${packageName}"/>
            </intent-filter>
        </receiver>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.kct.iqsdisplayer.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>